# Python cache
__pycache__/
*.pyc

# Ruff cache
.ruff_cache/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Egg metadata
*.egg-info/
*.egg

# Tests
#tests/

# Data directory
data/

# Logs
logs/

# Coverage
.coverage
# VSCode settings
.vscode/

build/
